@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --color-orange: hsl(26, 100%, 55%);
  --color-pale-orange: hsl(25, 100%, 94%);
  --color-very-dark-blue: hsl(220, 13%, 13%);
  --color-dark-grayish-blue: hsl(219, 9%, 45%);
  --color-grayish-blue: hsl(220, 14%, 75%);
  --color-light-grayish-blue: hsl(223, 64%, 98%);
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(
    0,
    0%,
    0%,
    0.75
  ); /* (with 75% opacity for lightbox background)*/

  --transition: all 400ms ease;

  --width-container-lg: 90%;
  --width-container-sm: 78%;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 1.7;
}

/* General styles */

img {
  object-fit: cover;
}

.btn {
  max-width: 100%;
  padding: 1rem 8rem;
  border-radius: 1rem;
  background: var(--color-orange);
  color: #fff;
  transition: var(--transition);
  cursor: pointer;
  font-weight: 700;
}

.btn:hover {
  filter: opacity(60%);
}

.hidden {
  display: none;
}
